@font-face {
  font-family: 'Graphik Regular';
  font-style: normal;
  font-weight: normal;
  src: url('./fonts/Graphik-Regular-Web.woff2') format('woff2'),url('./fonts/Graphik-Regular-Web.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Graphik Regular';
  font-style: normal;
  font-weight: bold;
  src: url('./fonts/Graphik-Bold-Web.woff2') format('woff2'),url('./fonts/Graphik-Bold-Web.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Graphik Regular';
  font-style: italic;
  font-weight: normal;
  src: url('./fonts/Graphik-RegularItalic-Web.woff2') format('woff2'),url('./fonts/Graphik-RegularItalic-Web.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Graphik Regular';
  font-style: italic;
  font-weight: bold;
  src: url('./fonts/Graphik-BoldItalic-Web.woff2') format('woff2'),url('./fonts/Graphik-BoldItalic-Web.woff') format('woff');
  font-display: swap;
}
